# Ignore build folders
**/build-*/*
**/build/*

# Ignore weaved code folders
**/weaved_code/*

# Ignore automatically created results
*.csv
*.xlsx

# Do not include data inputs in the repository,
# they should be provided in a separate file
**/data/*

# Ignore class files and eclipse-related files
*.class
*.project
*.classpath
