<SimpleDataStore>
  <name>LaraI Options</name>
  <values>
    <entry>
      <string>include</string>
      <FileList>
        <fileList/>
      </FileList>
    </entry>
    <entry>
      <string>show info</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>workspace</string>
      <FileList>
        <fileList>
          <file>..\src-sorts</file>
        </fileList>
      </FileList>
    </entry>
    <entry>
      <string>debug</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>log</string>
      <OptionalFile>
        <file>..\..\..\Desktop\log.txt</file>
        <used>false</used>
      </OptionalFile>
    </entry>
    <entry>
      <string>format</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>noclasspath</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>outputType</string>
      <spoon.OutputType>COMPILATION_UNITS</spoon.OutputType>
    </entry>
    <entry>
      <string>main</string>
      <string></string>
    </entry>
    <entry>
      <string>argv</string>
      <string></string>
    </entry>
    <entry>
      <string>tools</string>
      <OptionalFile>
        <file></file>
        <used>false</used>
      </OptionalFile>
    </entry>
    <entry>
      <string>javascript</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>clear_output</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>verbose</string>
      <org.lara.interpreter.joptions.config.interpreter.VerboseLevel>warnings</org.lara.interpreter.joptions.config.interpreter.VerboseLevel>
    </entry>
    <entry>
      <string>output</string>
      <file>..\..\WovenTutorialCode\src</file>
    </entry>
    <entry>
      <string>java includes dir</string>
      <FileList>
        <fileList/>
      </FileList>
    </entry>
    <entry>
      <string>report kadabra</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>bundle_tags</string>
      <string></string>
    </entry>
    <entry>
      <string>aspect</string>
      <file>..\aspects\testimport\main.lara</file>
    </entry>
    <entry>
      <string>report</string>
      <OptionalFile>
        <file>..\..\..\Desktop\test.js</file>
        <used>false</used>
      </OptionalFile>
    </entry>
    <entry>
      <string>metrics</string>
      <OptionalFile>
        <file>..\..\..\Desktop\metrics.js</file>
        <used>false</used>
      </OptionalFile>
    </entry>
    <entry>
      <string>stack trace</string>
      <boolean>false</boolean>
    </entry>
  </values>
  <strict>false</strict>
</SimpleDataStore>